<% if @public_recipe.empty? %>
  <h2 class="text-center">There is no public recipes for now</h2>
<% end %>
<div>
  <ul>
    <% @public_recipe.each do |recipe| %>
      <li class="my-6">
        <%= render 'shared/public_recipe_card', recipe: recipe %>
      </li>
    <% end %>
  </ul>
</div>
