<h1 class="text-3xl text-center">Recipes by <b><%= @current_user.email %></b></h1>
<% if @recipes.empty? %>
  <h2 class="text-center">There is no Recipes for now</h2>
<% end %>
<div class="w-10/12 mx-auto">
    <ul>
        <% @recipes.each do |recipe| %>
          <li class="my-6">
            <%= render 'shared/recipe_card', recipe: recipe %>
          </li>
        <% end %>
    </ul>
</div>
