<% if @recipes.empty? %>
  <h2 class="text-center">There is no Recipes for now</h2>
<% end %>
<div class="flex items-center justify-end">
  <a href="/recipes/new" class="px-4 py-2 border-2 border-black cursor:pointer"> Add a Recipe</a>
</div>
<div>
    <ul>
        <% @recipes.each do |recipe| %>
          <li class="my-6">
            <div class="my-5 flex border-2 border-black">
                <div class="w-full p-8 my-8">
                  <h2 class="font-bold"><%= link_to recipe.name , "recipes/#{recipe.id}"%></h2>
                <button class="underline text-blue-950">
                  <%= link_to 'REMOVE', recipe_path(recipe.id), class: "text-blue-600 underline", data: { "turbo-method": :delete} %>
                </button>
                </div>
                <div class="w-full p-8 my-8">
                    <p><%= recipe.description%></p>
                </div>
            </div>
          </li>
        <% end %>
    </ul>
</div>