<div class="flex gap-5 px-6 py-5 border-2 border-black">
  <div class="w-full">
    <h2 class="font-bold"><%= link_to recipe.name , recipe_path(recipe.id)%></h2>
  <button class="underline text-blue-950">
    <%= link_to 'REMOVE', recipe_path(recipe.id), class: "text-blue-600 underline", data: { "turbo-method": :delete} %>
  </button>
  </div>
  <div class="w-full">
      <p><%= recipe.description%></p>
  </div>
</div>

