<li class="my-6">
  <div class="flex my-5 border-2 border-black">
      <div class="w-full p-8 my-8">
        <h2 class="font-bold"><%= link_to recipe.name , "recipes/#{recipe.id}"%></h2>
      <button class="underline text-blue-950">
        <%= link_to 'REMOVE', recipe_path(recipe.id), class: "text-blue-600 underline", data: { "turbo-method": :delete} %>
      </button>
      </div>
      <div class="w-full p-8 my-8">
          <p><%= recipe.description%></p>
      </div>
  </div>
</li>
