<% if @recipe_foods.empty? %>
  <h2 class="text-center">There is no Foods Recipes for now</h2>
<% else %>
<table class="table-fixed">
  <thead>
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Value</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @recipe_foods.each do |recipe_food| %>
      <%= render 'shared/recipe_foods', food: recipe_food.food %>
    <% end %>
  </tbody>
</table>
<% end%>