<h1 class="text-center">Welcome</h1>
<% if @foods.empty? %>
  <h1 class="text-center">There is no foods for now</h1>
<% end %>
<% @foods.each do |food| %>
  <%= render 'shared/food_card', food: food %>
<% end %>
