<h1 class="text-center">Welcome <%= @current_user.email %></h1>
<% if @recipe_foods.empty? %>
  <h2 class="text-center">There is no foods for now</h2>
<% end %>
<div class="flex items-center justify-end">
  <a href="/foods/new" class="px-4 py-2 border-2 border-black cursor:pointer"> Add file</a>
</div>

<table class="table-fixed">
  <thead>
    <tr>
      <th>Food</th>
      <th>Measurement unit</th>
      <th>Unit price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @recipe_foods.each do |food| %>
      <%= render 'shared/food_card', recipe_foods: recipe_foods %>
    <% end %>
  </tbody>
</table>

